* {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  display: flex;
  justify-content: center;
  margin: 80px auto 0px;
  box-sizing: border-box;
  .panel {
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #000;
    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(
        $color: (
          #000000
        ),
        $alpha: 0.2
      );
      z-index: 999;
      display: none;
      text-align: center;
      line-height: 100%;
      font-size: 30px;

      .msg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }
  }
  .tip {
    border: 1px solid #999;
    border-left: none;
    box-sizing: border-box;
    padding-top: 50px;
    .next {
      position: relative;
    }
    .des-wrap {
      margin-top: 30px;
      font-size: 14px;
      color: #666;
      line-height: 20px;
      text-align: center;
    }
  }
}
